* {
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}

.btn {
    margin: 0 1rem;
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 1rem;
}

main {
    margin: 5rem auto;
    width: 66vw;
}

.floor {
    height: 8.5rem;
    position: relative;
}

.liftBtns {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: center;
    width: fit-content;
    /* position: relative;
    top: 8rem; */
}

.liftBtn {
    margin: 0 1rem;
    padding: .25rem .5rem;
    border-radius: 5px;
    font-size: 1rem;
}

.liftBtns .liftBtn {
    margin: .5rem 0;
}

.lift {
    display: flex;
    content: '';
    position: absolute;
    height: 7rem;
    width: 4.5rem;
    background: burlywood;
    left: 5rem;
    top: 1.4rem;
    transform: translateY(0);
    transition: transform 0s linear;
    border: 2px solid black;
    overflow: hidden;
}

.left {
    border-right: 1px solid black;
}

.open-left-door {
    transform: translateX(-100%);
}

.open-right-door {
    transform: translateX(100%);
}

.right {
    border-left: 1px solid black;
}

.door {
    content: '';
    width: 49%;
    height: 100%;
    background: grey;
    transition: transform 2.5s ease-out;
}

hr {
    width: 60vw;
    margin-left: 4vw;
    position: absolute;
    top: 8.5rem;
    border: none;
    height: 3px;
    background: black;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 75%;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 50%;
    }
}